#adj1, #noun1
{
font-size: large;
font-weight: 500;
border: 4px double black;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 30px;
padding-right: 30px;
display: inline-block;
}

#adj2, #noun2
{
font-size: large;
font-weight: 400;
border: 4px double black;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 30px;
padding-right: 30px;
display: inline-block;
}

#button
{
margin: 10px;
}

a
{

margin: 10px!important;
}
